@media screen and (min-width: 670px) {
    #create-gifos-section {
        padding: 5px 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        background: --background-primary-color;
        .screen-container {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            g.videoCam{
                width: 200px;
                height: 162px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .camera {
                    content: url("../assets/camara.svg");
                }
                .luz {
                    margin-top: 1px;
                    margin-left: 2px;
                    opacity: 0.6;
                    content: url("../assets/element-luz-camara.svg");
                }
            }
            .screen {
                display: flex;
                justify-content: center;
                align-items: center;
                g {
                    .marco {
                        width: 690px;
                        height: 390px;
                        border: 1px solid var(--font-primary-color);
                        position: relative;
                    }
                    .esquina {
                        width: 27px;
                        height: 25px;
                        margin: 20px;
                        background-color: rgba($color: #fff, $alpha: 0.0);
                        position: absolute;
                    }
                    .esquina1 {
                        border-top: 2px solid #50E3C2;
                        border-left: 2px solid #50E3C2;
                        top: 0;
                        left: 0;
                    }
                    .esquina2 {
                        border-top: 2px solid #50E3C2;
                        border-right: 2px solid #50E3C2;
                        top: 0;
                        right: 0;
                    }
                    .esquina3 {
                        border-bottom: 2px solid #50E3C2;
                        border-left: 2px solid #50E3C2;
                        bottom: 0;
                        left: 0;
                    }
                    .esquina4 {
                        border-bottom: 2px solid #50E3C2;
                        border-right: 2px solid #50E3C2;
                        bottom: 0;
                        right: 0;
                    }

                }
                .contenido {
                    width: 480px;
                    height: 320px;
                    position: absolute;
                    display: flex;
                    align-items: center;

                    .info{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        position: absolute;

                        h3 {
                            font-family: var(--font-Montserrat); // monserrat
                            font-size: 25px;
                            line-height: 35px;
                            color: var(--font-primary-color);
                            text-align: center;

                            span.text-resalt {color: var(--font-secondary-color)};
                        }
                        p {
                            font-family: var(--font-Roboto); // Roboto regular
                            font-size: 16px;
                            line-height: 30px;
                            color: var(--font-third-color);
                            text-align: center;
                        }

                        #video {
                            width: 100%;
                            height: 100%;
                        }
                        #gif-img{
                            width: 100%;
                            height: 100%;
                        }

                        #createGifo-capa{
                            width: 480px;
                            height: 320px;
                            z-index: 100;
                            background-color: rgba(87,46,229, 0.5);
                            position: absolute;
                            top: 0;
                            left: 0;

                            display:flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;

                            .statusinfo-container{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                .status-img{
                                    width: 22px;
                                    height: 22px;
                                    margin-bottom: 15px;
                                }
                                #upload{
                                    content: url("../assets/loader.svg");
                                }
                                #uploaded {
                                    content: url("../assets/ok.svg");
                                }
                                p#status-text{
                                    font-family: var(--font-Montserrat);
                                    font-weight: bold;
                                    font-size: 15px;
                                    line-height: 16px;
                                }
                            }

                            .createGifo-containerBtns{
                                width: 100%;
                                display: flex;
                                flex-flow: row nowrap;
                                justify-content: flex-end;
                                position: absolute;
                                top: 0;
                                left: 0;

                                .btn-download, .btn-link {
                                    margin: 10px 10px 0 0;
                                }
                            }
                        }
                    }
                }
            }
            .pelicula{
                margin-left: 58px;
                position: relative;
                bottom: -235px;
                right: 0;
                content: url("../assets/pelicula.svg");
            }
        }
        .recording-container {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            margin-top: 25px;
            position: relative;
            .container-btns-timelapse {
                display: flex;
                flex-flow: row nowrap;
                .container-btns {
                    display: flex;
                    flex-flow: row nowrap;
                    width: 150px;
                    justify-content: space-between;
                    .step {
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        border: 1px solid var(--font-primary-color);
                        color: var(--font-primary-color); 
                        text-align: center;
                        line-height: 30px;
                        font-family: monospace;
                        font-weight: bold;
                        font-size: 16px;
                        background-color: rgba($color: #fff, $alpha: 0.0);
                    }
                    .step[data-active]{
                        background-color: var(--font-primary-color);
                        color: var(--layout-third-color);
                        // cursor: pointer;
                    }
                }

                .timelapse-container {
                    width: 130px;
                    margin-right: 50px;
                    // border: 1px solid black;
                    position: absolute;
                    right: 0;
                    
                    .timelapse {
                        float: right;
                        font-family: monospace;
                        font-size: 16px;
                        line-height: 30px;
                        color: var(--font-primary-color); 
                        text-align: center;
                    }
                    p#repeatRecordBtn{
                        width: 100%;
                        margin-top: 10px;
                        font-family: var(--font-Montserrat);
                        font-weight: bold;
                        font-size: 13px;
                        line-height: 16px;
                        color: var(--font-primary-color);

                        &:hover{
                            text-decoration: 2px underline var(--layout-secondary-color);
                            cursor: pointer;
                        }
                    }
                }
            }
            .line {
                width: 795px;
                height: 7px;
                margin-top: 24px;
                border-radius: 3px;
                background: var(--font-primary-color);
            }
            .btn-process {
                width: 127px;
                height: 50px;
                margin-top: 20px;
                padding-top: 14px;
                border: 1px solid var(--font-primary-color);
                border-radius: 25px;

                color: var(--font-primary-color);
                font-family: monospace;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
            }
            .btn-process:hover {
                background-color: var(--font-primary-color);
                color: var(--layout-third-color);
                cursor: pointer;
            }
        }

        }
        .display-none#create-gifos-section{
        display: none;
        }
        .dark-mode {
        background: var(--background-primary-color);
        #create-gifos-section{
            .screen-container {
                g.videoCam {
                    .camera {
                        content: url("../assets/camara-modo-noc.svg");
                    }
                }
            }
            .pelicula{
                content: url("../assets/pelicula-modo-noc.svg");
            }
        }    
    }
}


