@media screen and (min-width: 670px) {
    // HEADER ==================================
    header {
        nav {
            padding: 0 156px;
            #logo {
                content: url("/assets/logo-desktop.svg");
            }
            details {
                display: none;
            }
            div.desktop-menu {
                display: flex;
                flex-flow: row nowrap;

                ul {
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    padding-top: 20px;
                    li a{
                        margin: 0 20px;
                        color: var(--font-primary-color);
                        text-decoration: none;
                        // font-family: var(--font-Montserrat);
                        font-family: 'Montserrat', sans-serif;
                        // font-weight: bold;
                        font-size: 13px;
                        line-height: 16px;
                    }
                    li a:hover {
                        border-bottom: 2px solid  var(--font-secondary-color) ;
                        cursor: pointer;
                    }
                }
                .create-gifos-btn{
                    width: 54px;
                    height: 54px;
                    background-color: rgba($color: #fff, $alpha: 0.0);
                    border: 1px solid #572EE5;
                    color: #572EE5;
                    border-radius: 50%;
                
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 50px;
                    &::after{
                        content: "+";
                    }
                
                    &:hover {
                        background-color: #572EE5;
                        color: white;
                        cursor: pointer;
                    }
                }
            }
            // =========================================


        }
    }
    body.dark-mode {
        #logo {
            content: url("/assets/Logo-modo-noc.svg");
        }
    }

    // HOME-SECTION =====================================  
    .home-section {
        h1 {
            width: 934px;
            padding: 0 150px;
            margin-top: 76px;
            line-height: 50px;
            font-size: 35px;
        }
        .container {
            width: 553px;
            height: auto;
            .home-img {
                width: 400px;
                height: 190px;
            }
            .search-bar-container {
                width: 550px;
            }

        }
    }

    // SEARCH SECTION ====================================
    .search-section {
        .trends-container {
            padding-top: 76px;
            h3 {
                margin: 0;
                font-size: 18px;
            }
            .trend-word {
                font-size: 16px;
            }
        }

        .subsection-results {
            
            h2 {font-size: 35px; margin-bottom: 100px;}
            .results-container {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                figure {
                    width: 260px;
                    height: 200px;
                    margin: 15px;
                    .modal-container {
                        width: 100%;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }

                .not-found {
                    p{
                        margin-bottom: 70px;
                    }
                }
            }
        }

    }

    // FAVORITES SECTION =================================================
    #container-section-favs {
        h2{line-height: 30px; font-size: 25px;}
        .container-favs-gifs {
            figure {
                width: 260px;
                height: 200px;
                margin: 15px;
                .modal-container {
                    width: 100%;
                    height: 100%;
                    img {
                        margin: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .defaultFavs {
                .img {
                    margin: 90px auto 20px auto;
                    width: 150px;
                }
                p {
                    margin-bottom: 130px;
                    max-width: 430px;
                    font-size: 22px;
                    line-height: 33px;
                }
            }
        }

    }
    // MIS-GIFOS SECTION =================================================
    #container-section-mis-gifos {
        h2{line-height: 30px; font-size: 25px;}
        .container-mis-gifos {
            figure {
                width: 260px;
                height: 200px;
                margin: 15px;
                .modal-container {
                    width: 100%;
                    height: 100%;
                    img {
                        margin: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .defaultMyGifs {
                .img {
                    margin: 90px auto 20px auto;
                    width: 150px;
                }
                p {
                    margin-bottom: 130px;
                    max-width: 430px;
                    font-size: 22px;
                    line-height: 33px;
                }
            }
        }

    }
    // CARRUSE; - SECTION ================================================

    #carrusel-section {
        width: 100%;
        height: 640px;
        padding: 67px 96px;
        h2 {
            margin-top: 0;
            line-height: 30px;
            font-size: 25px;
        }
        p {
            width: 100%;
            margin-top: 12px;
            line-height: 20px;
            font-size: 18px;
        }
        .trends-carrusel-container {
            padding: 0;
            margin-top: 53px;
            height: 290px;
            .carrusel {
                width: 100%;
                display: inline-flex;
                overflow-y: hidden;
                overflow-x: scroll;
                g {
                    position: relative;
                    figure {
                        width: 357px;
                        height: 275px;
                        margin: 5px;
                        .modal-container {
                            width: 357px;
                            height: 275px;
                            box-shadow: 0px 0px 5px 1px black;
                            img {
                                margin: 0;
                                width: 357px;
                                height: 275px;
                                object-fit: cover;                                
                            }
                        }
                    }
                }
            }
            .carrusel::-webkit-scrollbar {
                display: none;
            }
            .carrusel-btn {
                display: block;
            }
        }
    }

    // FOOTER ===========================================

    footer {
        width: 100%;
        height: 121px;
        padding: 49px 156px;
        display: flex;
        flex-flow: row nowrap;
        p {
            position: static;
            height: 15px;
            line-height: 15px;
            font-size: 13px;
        }
        p#share-txt {
            width: 100px;
        }
        p.copyright-txt {
            width: 250px;
        }
        .container-logos {
            margin: 0;
            width: 75%;
            display: flex;
            justify-content: left;
            a {
                margin: 0 10px;
            }
        }

    }

    // MODAL 
    .preview .modal-preview
    {
        width: 500px;
        max-height: 500px;
        img {
            width: 100%;
            max-height: 100%;
            object-fit: contain;
        }
    } 
    .preview .container-btns-info {
        width: 500px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        .container-info {
            width: 400px;
            height: 100px;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            font-family: monospace;
            p {
                font-size: 16px;
                line-height: 20px;
                font-family: var(--font-Roboto);
            }
            h3 {
                margin: 0;
                line-height: 30px;
                font-size: 25px;
                font-family: var(--font-Montserrat);
            }
        }
    }

    .dark-mode {
        header nav .desktop-menu .create-gifos-btn{
            border: 1px solid white;
            color: white;
            &:hover{
                background-color: rgba($color: #fff, $alpha: 1.0);
                color: black;
            }
        }
    }
}



