@charset "UTF-8";
:root {
  --header-line-top: 5px;
  --header-nav-height: 95px;
  --layout-primary-color: #572EE5;
  --layout-secondary-color: #50E3C2;
  --layout-third-color: #F3F5F8;
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-Roboto: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
    font-family: var(--font-Montserrat);
    color: var(--layout-primary-color);
    text-align: center;
}
#heart-img {
    content: url("/assets/icon-favoritos.svg");
    margin: 5px auto 7px auto;
}
.container-favs-gifs {
    width: 100%;
    margin-top: 32px;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    justify-content: center;
    
}
.container-favs-gifs .fav-gif {
    width: 156px;
    height: 120px;
    margin:10px;
    object-fit:cover;
    position: relative;
}

.display-none {
    display: none;
}
