#create-gifos-section {
    padding: 5px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: white;
    .screen-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        g.videoCam{
            width: 200px;
            height: 162px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .camera {
                content: url("/assets/camara.svg");
            }
            .luz {
                margin-top: 1px;
                margin-left: 2px;
                opacity: 0.6;
                content: url("/assets/element-luz-camara.svg");
            }
        }
        .screen {
            display: flex;
            justify-content: center;
            align-items: center;
            g {
                .marco {
                    width: 690px;
                    height: 390px;
                    border: 1px solid #572EE5;
                    position: relative;
                }
                .esquina {
                    width: 27px;
                    height: 25px;
                    margin: 20px;
                    background-color: rgba($color: #fff, $alpha: 0.0);
                    position: absolute;
                }
                .esquina1 {
                    border-top: 2px solid #50E3C2;
                    border-left: 2px solid #50E3C2;
                    top: 0;
                    left: 0;
                }
                .esquina2 {
                    border-top: 2px solid #50E3C2;
                    border-right: 2px solid #50E3C2;
                    top: 0;
                    right: 0;
                }
                .esquina3 {
                    border-bottom: 2px solid #50E3C2;
                    border-left: 2px solid #50E3C2;
                    bottom: 0;
                    left: 0;
                }
                .esquina4 {
                    border-bottom: 2px solid #50E3C2;
                    border-right: 2px solid #50E3C2;
                    bottom: 0;
                    right: 0;
                }
    
            }
            .contenido {
                width: 480px;
                height: 320px;
                position: absolute;
                display: flex;
                align-items: center;

                .info{
                    width: 100%;
                    h3 {

                        font-family: monospace; // monserrat
                        font-size: 25px;
                        line-height: 35px;
                        color: #572EE5;
                        text-align: center;
                    }
                    p {
                        font-family: monospace; // Roboto regular
                        font-size: 16px;
                        line-height: 30px;
                        color: black;
                        text-align: center;
                    }
                }
            }
        }
        .pelicula{
            margin-left: 58px;
            position: relative;
            bottom: -235px;
            right: 0;
            content: url("/assets/pelicula.svg");
        }
    }
    .recording-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 25px;
        position: relative;
        .container-btns-timelapse {
            display: flex;
            flex-flow: row nowrap;
            .container-btns {
                display: flex;
                flex-flow: row nowrap;
                width: 150px;
                justify-content: space-between;
                .step {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    border: 1px solid #572EE5;
                    color: #572EE5; 
                    text-align: center;
                    line-height: 30px;
                    font-family: monospace;
                    font-size: 16px;
                    background-color: rgba($color: #fff, $alpha: 0.0);
                }
                .step[data-active]{
                    background-color: #572EE5;
                    color: white;
                    // cursor: pointer;
                }
            }

            .timelapse-container {
                width: 100px;
                margin-right: 50px;
                // border: 1px solid black;
                position: absolute;
                right: 0;
                
                .timelapse {
                    float: right;
                    font-family: monospace;
                    font-size: 16px;
                    line-height: 30px;
                    color: #572EE5; 
                    text-align: center;
                }
            }
        }
        .line {
            width: 795px;
            height: 7px;
            margin-top: 24px;
            border-radius: 3px;
            background: #572EE5;
        }
        .btn-process {
            width: 127px;
            height: 50px;
            margin-top: 20px;
            padding-top: 14px;
            border: 1px solid #572EE5;
            border-radius: 25px;

            color: #572EE5;
            font-family: monospace;
            font-size: 16px;
            line-height: 20px;
            text-align: center;
        }
        .btn-process:hover {
            background-color: #572EE5;
            color: white;
            cursor: pointer;
        }
    }

}
.display-none#create-gifos-section{
    display: none;
}
.dark-mode {
    .camera {
        content: url("/assets/camara-modo-noc.svg");
    }
    .pelicula{
        content: url("/assets/pelicula-modo-noc.svg");
    }

}

// .cinta1 {
//     content: url("/assets/element_cinta1-modo-noc.svg");
// }
// .cinta2 {
//     content: url("/assets/element_cinta2-modo-noc.svg");
// }
// .cinta1 {
//     content: url("/assets/element_cinta1.svg");
// }
// .cinta2 {
//     content: url("/assets/element_cinta2.svg");
// }