#container-section-favs {
    background-color: var(--background-primary-color);
    padding-top: 5px;
    h2 {
        font-family: var(--font-Montserrat);
        color: var(--font-primary-color);
        text-align: center;
    }
    #heart-img {
        content: url("/assets/icon-favoritos.svg");
        margin: 5px auto 7px auto;
    }
    .container-favs-gifs {
        width: 100%;
        margin-top: 32px;
        /* border: 1px solid black; */
        display: flex;
        flex-flow: row wrap;
        overflow: hidden;
        justify-content: center;

        .defaultFavs {
            .img {
                margin: 30px auto 20px auto;
                content: url("../assets/icon-fav-sin-contenido.svg");
                width: 75px;
            }
            p {
                margin-bottom: 65px;
                max-width: 250px;
                text-align: center;
                font-size: 16px;
                font-family: var(--font-Montserrat);
                line-height: 20px;
                font-weight: bold;
                color: var(--font-secondary-color);
            }


        }
        
    }
    .container-favs-gifs figure {
        margin: 5px;
        img {
            width: 156px;
            height: 120px;
            // margin:10px;
            object-fit:cover;
        }
    }
}