:root {
    --header-line-top : 5px;
    --header-nav-height: 95px;
    // --nav-menu-color: white;
    --layout-primary-color: #572EE5;
    --layout-secondary-color: #50E3C2;
    --layout-third-color: #F3F5F8;
    --font-Montserrat: 'Montserrat', sans-serif;
    --font-Roboto: "Roboto", sans-serif;
    
}
