@charset "UTF-8";
:root {
  --header-line-top: 5px;
  --header-nav-height: 95px;
  --line-header-color: #572EE5;
  --menu-color: rgba(87, 46, 229, 0.8);
  --layout-primary-color: #572EE5;
  --font-primary-color: #572EE5;
  --placeholder-searchbar-primary-color: #6B7989;
  --background-primary-color: white;
  --background-secondary-color: #F3F5F8;
  --layout-secondary-color: #50E3C2;
  --font-secondary-color: #50E3C2;
  --font-third-color: black;
  --font-Montserrat: 'Montserrat', sans-serif;
  --font-Roboto: "Roboto", sans-serif;
}

.dark-mode {
  --line-header-color: #000;
  --font-primary-color: white;
  --menu-color: rgba(0, 0, 0, 1);
  --font-third-color: white;
  --background-primary-color: #37383C;
  --background-secondary-color: #222326;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  border-top: var(--header-line-top) solid var(--line-header-color);
  background-color: var(--background-primary-color);
}

header nav {
  height: var(--header-nav-height);
  width: 100%;
  border-bottom: 1px solid black;
  padding: 0px 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #logo {
  width: 50px;
  height: 50px;
  content: url("/assets/logo-mobile.svg");
}

header nav details {
  width: 30px;
  height: var(--header-nav-height);
}

header nav details summary {
  height: 40px;
  margin-top: 27px;
  margin-bottom: 28px;
  list-style: none;
  line-height: 40px;
  font-size: 20px;
  color: var(--font-primary-color);
}

header nav details summary:hover {
  cursor: pointer;
}

header nav details summary:before {
  content: "☰";
}

header nav details[open] summary:before {
  content: "×";
  font-size: 32px;
  font-weight: bold;
}

header nav details ul {
  z-index: 3;
  width: 100%;
  height: 100vmax;
  padding-top: 17px;
  background-color: var(--menu-color);
  position: absolute;
  left: 0px;
  top: 100px;
}

header nav details ul li {
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav details ul li a {
  width: 100%;
  line-height: 55px;
  text-decoration: none;
  text-align: center;
  font-family: var(--font-Roboto);
  color: white;
}

.dark-mode #logo {
  content: url("/assets/logo-mobile-modo-noct.svg");
}

.home-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--background-primary-color);
}

.home-section h1 {
  width: 60%;
  margin-top: 7px;
  color: var(--font-primary-color);
  font-family: var(--font-Montserrat);
  text-align: center;
  font-size: 25px;
}

.home-section span#home-text-resalt {
  color: var(--font-secondary-color);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.search-bar-container {
  width: 90%;
  height: 50px;
  border: 1px solid var(--font-primary-color);
  border-radius: 25px;
  padding: 4px 20px 4px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-bar-container input#search-bar {
  height: 40px;
  width: 85%;
  padding-left: 40px;
  border: none;
  font-family: var(--font-Roboto);
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0);
}

.search-bar-container input#search-bar::-webkit-input-placeholder {
  color: var(--placeholder-searchbar-primary-color);
}

.search-bar-container input#search-bar:-ms-input-placeholder {
  color: var(--placeholder-searchbar-primary-color);
}

.search-bar-container input#search-bar::-ms-input-placeholder {
  color: var(--placeholder-searchbar-primary-color);
}

.search-bar-container input#search-bar::placeholder {
  color: var(--placeholder-searchbar-primary-color);
}

.home-img {
  width: 65%;
}

.search-section {
  background-color: var(--background-primary-color);
}

.search-section .subsection-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-section .subsection-results #line {
  width: 160px;
  margin: 0 auto 43px auto;
  border: calc(0.5px) solid var(--layout-third-color);
}

.search-section .subsection-results h2 {
  line-height: 40px;
  font-size: 25px;
  margin-bottom: 27px;
  text-align: center;
  font-family: var(--font-Montserrat);
  color: var(--font-primary-color);
}

.search-section .subsection-results .results-container {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.search-section .subsection-results .results-container figure {
  margin: 10px;
  width: 156px;
}

.search-section .subsection-results .results-container figure img {
  width: 156px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
}

.search-section h3, .search-section .trend-word {
  font-family: var(--font-Montserrat);
  color: var(--font-primary-color);
}

.search-section h3 {
  margin-top: 30px;
}

.search-section .trend-word {
  font-weight: medium;
}

.search-section .trends-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 45px;
}

.search-section .trends-container .trend-words-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-section .trends-container .trend-words-container .trend-word {
  padding: 2px;
  font-size: 14px;
  font-weight: 200;
  margin-top: 7px;
}

.search-section .trends-container .trend-words-container .trend-word::after {
  content: ",";
}

.search-section .trends-container .trend-words-container .trend-word:hover {
  font-weight: bold;
  cursor: pointer;
}

.prueba-container {
  width: 200px;
  height: 150px;
}

.prueba-container img {
  width: 200px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.carrusel-section {
  background-color: var(--background-secondary-color);
}

.carrusel-section .trends-carrusel-container {
  height: 430px;
  width: 100%;
  padding-top: 46px;
  padding-bottom: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrusel-section .trends-carrusel-container h2 {
  width: 60%;
  font-family: var(--font-Montserrat);
  color: var(--font-primary-color);
  text-align: center;
}

.carrusel-section .trends-carrusel-container p {
  width: 60%;
  font-family: var(--font-Roboto);
  line-height: 23px;
  font-size: 16px;
  text-align: center;
  color: var(--font-third-color);
}

.carrusel-section .trends-carrusel-container .carrusel {
  width: 100%;
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

.carrusel-section .trends-carrusel-container .carrusel img {
  width: 245px;
  height: 190px;
  margin: 0 12px;
  border: 1px solid black;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

figure {
  width: 156px;
  height: 120px;
  border: 1px solid black;
  /*Permite aplicar [absolute] a un elemento hijo y será
    relativo a este contenedor*/
  position: relative;
  overflow: hidden;
}

figure .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: rgba(87, 46, 229, 0.6);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  /* Elemento desaparece de pantalla*/
  visibility: hidden;
}

figure:hover > .capa {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}

figure .capa:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  visibility: visible;
}

figure .capa h3 {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: White;
  line-height: 20px;
  font-size: 12px;
}

figure .capa p {
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 300;
}

figure .capa .buttons {
  width: 100%;
  height: 50px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hover-btns {
  width: 32px;
  height: 32px;
  cursor: pointer;
  margin-left: 11px;
}

.btn-fav {
  content: url("/assets/icon-fav.svg");
}

.btn-fav:hover {
  content: url("/assets/icon-fav-hover.svg");
}

.btn-download {
  content: url("/assets/icon-download.svg");
}

.btn-download:hover {
  content: url("/assets/icon-download-hover.svg");
}

.btn-max {
  content: url("/assets/icon-max-normal.svg");
}

.btn-max:hover {
  content: url("/assets/icon-max-hover.svg");
}

.btn-delete {
  content: url("/assets/icon-trash-normal.svg");
}

.btn-delete:hover {
  content: url("/assets/icon-trash-hover.svg");
}

.btn-link {
  content: url("/assets/icon-link-normal.svg");
}

.btn-link:hover {
  content: url("/assets/icon-link-hover.svg");
}

.preview {
  width: 100vw;
  height: 100vh;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.preview .btn-close {
  position: absolute;
  top: 66px;
  right: 20%;
}

.preview img {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  -o-object-fit: contain;
     object-fit: contain;
}

.preview .container-btns-info {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.preview .container-btns-info .container-info {
  width: 400px;
  height: 50px;
  font-family: monospace;
}

.preview .container-btns-info .container-info p {
  font-size: 16px;
}

.preview .container-btns-info .container-info h3 {
  margin: 0;
}

.display-none {
  display: none;
}

footer {
  height: 195px;
  border-bottom: 5px solid var(--line-header-color);
  padding-top: 47px;
  padding-bottom: 23px;
  background-color: var(--background-primary-color);
}

footer p {
  font-family: var(--font-Roboto);
  line-height: 20px;
  font-size: 15px;
  text-align: center;
  color: var(--font-third-color);
}

footer .container-logos {
  width: 100px;
  margin: 24px auto 46px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container-logos .sm-logo {
  width: 20px;
  height: 20px;
}

footer .container-logos #sm-fb {
  content: url("/assets/icon_facebook.svg");
}

footer .container-logos #sm-fb:hover {
  content: url("/assets/icon_facebook_hover.svg");
}

footer .container-logos #sm-tw {
  content: url("/assets/icon-twitter.svg");
}

footer .container-logos #sm-tw:hover {
  content: url("/assets/icon-twitter-hover.svg");
}

footer .container-logos #sm-ig {
  content: url("/assets/icon_instagram.svg");
}

footer .container-logos #sm-ig:hover {
  content: url("/assets/icon_instagram-hover.svg");
}

#container-section-favs {
  background-color: var(--background-primary-color);
  padding-top: 5px;
}

#container-section-favs h2 {
  font-family: var(--font-Montserrat);
  color: var(--font-primary-color);
  text-align: center;
}

#container-section-favs #heart-img {
  content: url("/assets/icon-favoritos.svg");
  margin: 5px auto 7px auto;
}

#container-section-favs .container-favs-gifs {
  width: 100%;
  margin-top: 32px;
  /* border: 1px solid black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container-section-favs .container-favs-gifs .fav-gif {
  width: 156px;
  height: 120px;
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

#container-section-mis-gifos h2 {
  font-family: var(--font-Montserrat);
  color: var(--layout-primary-color);
  text-align: center;
}

#container-section-mis-gifos #emoji-img {
  content: url("/assets/icon-mis-gifos.svg");
  margin: 5px auto 7px auto;
}

#container-section-mis-gifos .container-mis-gifos {
  width: 100%;
  margin-top: 32px;
  /* border: 1px solid black; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#container-section-mis-gifos .container-mis-gifos .mi-gifo {
  width: 156px;
  height: 120px;
  margin: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 670px) {
  header {
    padding: 0 156px;
  }
  header nav #logo {
    content: url("/assets/logo-desktop.svg");
  }
  body.dark-mode #logo {
    content: url("/assets/Logo-modo-noc.svg");
  }
  .home-section h1 {
    width: 934px;
    padding: 0 150px;
    margin-top: 76px;
    line-height: 50px;
    font-size: 35px;
  }
  .home-section .container {
    width: 553px;
    height: auto;
  }
  .home-section .container .home-img {
    width: 400px;
    height: 190px;
  }
  .home-section .container .search-bar-container {
    width: 550px;
  }
  .search-section .trends-container {
    padding-top: 76px;
  }
  .search-section .trends-container h3 {
    margin: 0;
    font-size: 18px;
  }
  .search-section .trends-container .trend-word {
    font-size: 16px;
  }
  .search-section .subsection-results h2 {
    font-size: 35px;
  }
  .search-section .subsection-results .results-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search-section .subsection-results .results-container figure {
    width: 260px;
    height: 200px;
    margin: 15px;
  }
  .search-section .subsection-results .results-container figure .modal-container {
    width: 100%;
    height: 100%;
  }
  .search-section .subsection-results .results-container figure .modal-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .carrusel-section {
    width: 100%;
    height: 640px;
    padding: 67px 94px;
  }
  .carrusel-section .trends-carrusel-container {
    padding: 0;
  }
  .carrusel-section .trends-carrusel-container h2 {
    margin-top: 0;
    line-height: 30px;
    font-size: 25px;
  }
  .carrusel-section .trends-carrusel-container p {
    margin-top: 12px;
    line-height: 20px;
    font-size: 18px;
  }
  .carrusel-section .trends-carrusel-container .carrusel {
    margin-top: 53px;
  }
  .carrusel-section .trends-carrusel-container .carrusel .GIF {
    width: 357px;
    height: 275px;
  }
  footer {
    width: 100%;
    height: 121px;
    padding: 49px 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
  footer p {
    position: static;
    height: 15px;
    line-height: 15px;
    font-size: 13px;
  }
  footer p#share-txt {
    width: 100px;
  }
  footer p.copyright-txt {
    width: 250px;
  }
  footer .container-logos {
    margin: 0;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  footer .container-logos a {
    margin: 0 10px;
  }
}

.display-none {
  display: none;
}

.view-more-btn {
  width: 127px;
  height: 50px;
  margin-top: 67px;
  margin-bottom: 80px;
  border: 1px solid var(--layout-primary-color);
  border-radius: 25px;
  background-color: white;
  font-family: var(--font-Montserrat);
  color: var(--layout-primary-color);
  font-weight: bold;
  letter-spacing: 0;
  text-align: center;
  line-height: 16px;
  font-size: 13px;
}

.view-more-btn:hover {
  background-color: var(--layout-primary-color);
  color: white;
}

.container-btn-view-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */